@media screen and (max-width: 970px) {
    form{
        overflow-y: scroll;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }
    #content-section{
        flex-direction: column;
        flex:3;
    }
    #table-html-space{
        margin-top: 0;
        margin-right: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    #table-render-space{
        margin-top: 1em;
        margin-right:1em;
        margin-bottom: 0em;
        margin-left: 1em;
    }
    #nav-section{
        height:30%
    }
    form fieldset{
        padding: 5px;
        flex-direction: column;
        height:auto;
    }


    
}