body{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
html, body{
    width: 100%;
    height: 100%;
}
header, footer{
    background-color: midnightblue;
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    flex: 2;
}

header{
    font-size: 40px;
    justify-content: center;
}

footer{
    justify-content: space-evenly;
}

#main_container{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    padding: 1em;
}

#main-section{
    flex-direction: column;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: gray;
    margin: 1em;
    flex: 10;
}

#nav-section{
    display: flex;
    background-color: lightgray;
    margin: 1em;
    padding: 1em;
    flex: 1;
    justify-content: space-evenly;
}

#content-section{
    display: flex;
    background-color: cornflowerblue;
    margin: 1em;
    flex: 1;
}
#table-render-space{
    flex: 1;
    display: flex;
    background-color: burlywood;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
}

#table-html-space{
    flex: 1;
    background-color: orangered;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
}
form fieldset{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 45%;
    margin: auto;
}

fieldset legend{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: inherit;
}

fieldset input{
    width:100%
}

textarea{
    height: 180px;
    width: 480px;
}