* {box-sizing: border-box; 
    margin: 0;
     padding: 0;}

table {
    border: 3px dotted black;
    padding:5px;
	background-color:white;
}

td {border: 1px solid black;
    padding:5px;
   text-align: center;
}