@media screen and (max-width: 800px){
    form{
        flex-direction: column; 
    }


    fieldset{
        width: 80%; 
    }

    #render_sec{
        flex-direction: column;
    }

    body{
        height: 100%;
    }
    #dayData{
        overflow:scroll;
    }

}