*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html, body{ 
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;
}
body {
    display: flex;
    border:2px solid red;
}
section#root{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border:2px solid blue;
    overflow: auto;

}
header,footer {
    flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #004047;
       
    color: whitesmoke;
    font-size: 1.2em;
}
#head{
    display: flex;
    flex: 0.5;
    background-color: #004047;
    font-size: 1.2em;
    color: whitesmoke;
    justify-content: space-around;
    height: 100px;
    padding: 0.7em;
    align-items: center;
}
#nav{
    flex: 2;
    padding: 1em;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
#nav button{
    padding: 0.5em;
    background-color: blueviolet;
    color: whitesmoke;
}
#main{
    display: flex;
    padding: 0.5em;
    background-color: darkseagreen;
}

#left,#right{
    border: 2px solid grey;
    display: flex;
    border-radius: 1em;
    flex: 1;
    padding: 1em;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
}
#middle{
    border-radius: 1em;
    color: whitesmoke;
    background-color: red;
    margin: 1em;
    padding: 1em;
    overflow-y: scroll;
    flex: 3;
    display: flex;
    height: 650px;
}

table{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #00ad67;
    color: whitesmoke;
    padding: 8px;
    display: flex;
}
tbody{
    display: flex;
    flex-direction: column;
}
table th{
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}
table tr{
    display: flex;
    justify-content: space-around;
    flex:1;
}
.userNames{
    flex: 1;
}
.likes{
    flex:1
}
.dislikes{
    flex: 1;
}
table td{
    padding: 0.5em;
}

#commentList{
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
#commentList h2{
    align-self: center;
}
.comment{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 0.5em;
    background-color: wheat;
    color: black;
    margin:0.5em;
}
.ListInfo,.ListBottom{
    padding: 0.5em;
    border: 1px solid yellow;
    background-color: white;
    align-items: center;
}
.ListInfo{
    margin-bottom:0.5em;
    display: flex;
    justify-content: space-between;
}
.ListBottom{
    display: flex;
    justify-content: space-between;
}
.ListInteractions{
    display: flex;
    height: 100%;
    align-items: center;
}

.ListInteractions section{
    display: flex;
    align-items: center;
    margin: 10px;
}

.ListCmtText{
    margin-right: 0.5em;
}